@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

.mainInstructions {
  width: 65%;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  color: #303030;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #303030;
}

.form__header {
  width: 100%;
  height: auto;
  margin: auto;
  border-top: 5px solid #e77400;
  border-bottom: 2px dashed black;
  white-space: nowrap;
  overflow: hidden;
}

.form__title {
  font-size: 35px;
  margin: 2px 0;
  line-height: 2;
}

.form__instruction {
  font-size: 22px;
}

.submit_button {
  display: block;
  height: 50px;
  width: 150px;
  border: none;
  background-color: #005da9;
  color: #f5f5f5;
  text-transform: uppercase;
  padding: auto;
  border-radius: 15px;
  font-weight: 900;
  cursor: pointer;
  margin: auto;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  font-size: 22px;
  outline: none;
}
.submit_button:hover, .submit:focus {
  background-color: #008aff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
  outline: none;
}

.bold_text {
  font-weight: bold;
}

.small_text {
  font-size: 15px;
}