  .fixation-trial {
    font-size: 100px;
  }
  .MSIT-trial {
    font-size: 100px;
  }
  .dst-container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-content: safe space-around;
  }
  .col {
    display: flex;
    flex-flow: column;
    flex: 0 1 100%;
    align-items: safe center;
    justify-content: safe center;
    margin: auto;
  }
  .row {
    display: flex;
    height: 100%;
    flex: 0 1 100%;
  }
  .demand-selection-choice-box {
    display: flex;
    align-self: center;
    flex: 1 1 100%;
    flex-direction: column;
    border: 8px solid black;
    overflow: hidden;
  }
  .demand-selection-choice-box p {
    display: flex;
    flex-flow: column wrap;
    font-size: 5vmin;
    flex: 1 1 content;
    line-height: 1.2;
    justify-content: safe center;
    align-content: safe center;
  }
  .match {
    color:blue;
    font-weight: bold;
  }
  .mismatch {
    color: orange;
    font-weight: bold;
  }
  .arrow-key-container {
    display: flex;
    flex: 0 1 content;
    padding: 10px;
    height: max-content;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 3em;
    justify-content: safe center;
    overflow: hidden;
  }